/* fonts ---- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+One&family=Montserrat&family=Supermercado+One&display=swap');
* {
    font-family: 'Mochiy Pop One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1A1C1F;
}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #0003bd;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.card {
    background: #35393f;
    border-radius: 20px;
    margin: 20px 0;
    width: 280px;
}

.card::before {
    content: "";
    position: absolute;
    height: 13%;
    width: 14.6%;
    background: rgb(77, 74, 74);
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}

.card .social-iconlarr {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .social-iconlarr i {
    color: #fff;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    opacity: 0.6;
    transition: 0.3s ease all;
    cursor: pointer;
}

.card .social-iconlarr i:hover {
    opacity: 1;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: rgb(252, 78, 78);
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
    color: rgb(190, 190, 190);
}

.card .derece {
    color: yellow;
}

.card .derece p {
    color: rgb(55, 233, 174);
}